.appMini {
  margin: 0;
  padding-top: 5px;
  width: 200px;
  height: 250px;
  border-radius: 10px;
}

.appMini:hover {
  background-color: rgba(211, 211, 211, 0.61);
  cursor: pointer;
}

.appPicContainer {
  background-color: var(--red);
  border-radius: 20%;
  margin: 10px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appPic {
  max-width: 80%;
  max-height: 80%;
}

.appMiniLabel {
  display: block;
  margin-left: 15px;
}
